# Bibliotecas necessárias para o Gerenciador de Gastos

# Interface e Dashboard
streamlit==1.36.0

# Manipulação e análise de dados
pandas==2.2.2

# Visualização de dados
plotly==5.22.0

# Utilitários de sistema
python-dateutil==2.9.0

# Parser bancário (adicionado para suporte a OFX)
ofxtools==0.9.1
